[submodule "builder/archive-expanding-cnb"]
	path = builder/archive-expanding-cnb
	url = http://github.com/cloudfoundry/archive-expanding-cnb
[submodule "builder/openjdk-cnb"]
	path = builder/openjdk-cnb
	url = https://github.com/cloudfoundry/openjdk-cnb
[submodule "builder/build-system-cnb"]
	path = builder/build-system-cnb
	url = https://github.com/cloudfoundry/build-system-cnb
[submodule "builder/jvm-application-cnb"]
	path = builder/jvm-application-cnb
	url = https://github.com/cloudfoundry/jvm-application-cnb
[submodule "builder/spring-boot-cnb"]
	path = builder/spring-boot-cnb
	url = https://github.com/cloudfoundry/spring-boot-cnb
[submodule "builder/tomcat-cnb"]
	path = builder/tomcat-cnb
	url = https://github.com/cloudfoundry/tomcat-cnb
[submodule "builder/procfile-cnb"]
	path = builder/procfile-cnb
	url = https://github.com/cloudfoundry/procfile-cnb
[submodule "builder/google-stackdriver-cnb"]
	path = builder/google-stackdriver-cnb
	url = https://github.com/cloudfoundry/google-stackdriver-cnb
